################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/smallApiExample/bin/Debug/net7.0
